.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #134b5f;
    height: 50px;
    color: white;
    font-size: xx-large;
    

    h2{
        color: white;
        padding-top: 5px;
        border-bottom: none;
        
    }
    button{
        border-radius: 10px;
        padding: 5px 10px;
        border: none;
        background-color: white;
    }
    button:hover{
        background-color: #134b5f;
        border: 2px solid white;
        color: white;
        transition: 0.5s;
    }
}